<% layout('../layout') -%>
    <div class="row" style="margin: 10px;">
    <div class="col-lg-8 offset-lg-2">
            <div class="bs-component">
              <form method="POST">
                <fieldset>
                  <legend>Administrar</legend>
                  <div class="form-group">
                    <label for="inputEmail">Correo electr칩nico</label>
                    <input type="email" class="form-control" id="inputEmail" name="inputEmail" aria-describedby="emailHelp" placeholder="Ingresa tu correo electr칩nico">
                  </div>
                  <div class="form-group">
                    <label for="inputPassword">Contrase침a</label>
                    <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Contrase침a">
                  </div>
                  <button type="submit" class="btn btn-primary">Ingresar</button>
                </fieldset>
              </form>
            <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
          </div>
    </div>