<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/home">Mi Parroquia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/calendar">Calendario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/schedules">Misas</a>
      </li>
      <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/admin">
            Administrar
          </a>
        </li>
        <% } %>
    </ul>
    <% if (user) { %>
      <a class="btn btn-info" href="#"><%= user.email %></a>
    <% } else { %>
      <a class="btn btn-info" href="/login">Login</a>
    <% } %>
  </div>
</nav>

  